Flask==3.0.3
gunicorn==21.2.0
pandas==2.2.2
openpyxl==3.1.2

# Noyau scientifique (compatibles Python 3.12)
numpy==1.26.4
scipy==1.13.1
joblib==1.4.2

# Version scikit-learn compatible avec le champ "missing_go_to_left"
scikit-learn==1.5.2
